{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}



{% block body_class %}template-genericpage{% endblock body_class %}
{% block extra_css %}{% endblock extra_css %}




{% block content %}

    {% image page.banner_image fill-1400x600 as img %}
    {% comment %} {% image page.banner_image height-600 as img %} {% endcomment %}
    {% comment %} {% image page.banner_image width-1400 as img %} {% endcomment %}
    {% comment %} {% image page.banner_image scale-100 as img %} {% endcomment %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" style='width: 100%; height: auto;'>


    <h1>HELLO GENERIC</h1>
    <h3>{{ page.banner_title }}</h3>
    <h3>{{ page.introduction }}</h3>


    <!-- GenericPage CLASS's html >> (Page) MODEL >>inheritance>> Author CLASS >> name FIELD -->
    <p>
        {% image page.author.image fill-100x100 %}
        Page created by: {{ page.author.name }}
        <br>
        From: {{ page.author.company_name }}
        <br>
        {% if page.author.company_url %}
            <a href='{{ page.author.company_url }}' >VIEW WEBSITE</a>
        {% endif %}
    </p>

    <hr>
    <hr>
    {% include_block page.body %}


{% endblock content %}
